body {
    background-color: white;/*#FFFADD*/
}

.labelHeader{
    font-size:10pt;
    font-weight:bold;
    color:rgb(62, 1, 106);
    /*text-shadow: 2px 2px #2d62b4;*/
}

.labelDescription{
    font-style:italic;
    font-size:10pt;
    font-weight:bold;
    color:white;
}

fieldset.scheduler-border {
    border: 2px dotted #ddd !important;
    padding: 0 0 1em 1em !important;
    margin: 0 0 1.2em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

.textLegend {
    font-size: 12pt !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
    color: rgb(62, 1, 106);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

    /*text-shadow: -1px 0 #5f5e5e, 0 1px #5f5e5e, 1px 0 #5f5e5e, 0 -1px #5f5e5e;*/
}

.tableImgStyle {
    padding:20px; 
    cursor:pointer;
}

.tableTxtStyle{
    font-weight:bold;
    color:rgb(62, 1, 106);
}

.iconStyle{
    font-size:15pt;
}

.btnOrder{
    position:fixed;
    float:right;
    bottom:20px; 
    right:20px;
    cursor:pointer;;
}

.hrStyle {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.hrStyleLine {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.shaky-btn {
    cursor: pointer;
}

.shaky-btn:focus {
    transform: skewX(-10deg);
    animation: shake 0.4s ease-out;
    border: 1px solid #77b4fe;
    font-weight: bold;
    box-shadow: 0 0 5px 10px #b9e7ff;
}

/* Use the keyframes for defining the animation */
@keyframes shake {
    0%   { transform: skewX(-10deg); }
    25%  { transform: skewX(10deg);  }
    50%  { transform: skewX(-10deg); }
    75%  { transform: skewX(10deg);  }
    100% { transform: skewX(-10deg); }
}

.imgLogo
{   
    content:url(../images/6.jpg); 
    /* animation:DynamicBackground 30s ease-in;
    animation-iteration-count:infinite;
    -webkit-animation:DynamicBackground 30s ease-in;
    -webkit-animation-iteration-count:infinite;
    -moz-animation:DynamicBackground 30s ease-in;
    -moz-animation-iteration-count:infinite;*/
    height:80px;
    width:80px;
    border-radius: 80px !important;
    padding-top:4px;
}

@keyframes DynamicBackground
{
    0%   {content: url(../images/PS1.png);}
    25%  {content: url(../images/PS2.png);}
    50%  {content: url(../images/PS3.png);}
    75%  {content: url(../images/PS4.png);}
    100% {content: url(../images/PS6.png);}
}

@-webkit-keyframes DynamicBackground
{
    0%   {content: url(../images/PS1.png);}
    25%  {content: url(../images/PS2.png);}
    50%  {content: url(../images/PS3.png);}
    75%  {content: url(../images/PS4.png);}
    100% {content: url(../images/PS6.png);}
}

@-moz-keyframes DynamicBackground
{
    0%   {content: url(../images/PS1.png);}
    25%  {content: url(../images/PS2.png);}
    50%  {content: url(../images/PS3.png);}
    75%  {content: url(../images/PS4.png);}
    100% {content: url(../images/PS6.png);}
}

@-ms-keyframes DynamicBackground
{
    0%   {content: url(../images/PS1.png);}
    25%  {content: url(../images/PS2.png);}
    50%  {content: url(../images/PS3.png);}
    75%  {content: url(../images/PS4.png);}
    100% {content: url(../images/PS6.png);}
}

.tableIcon{
    color: #942de9; font-size:24pt;
}

.blinkSlow {
    font-size:26pt !important;
    color: #f21414 !important;
    -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 2s infinite ease-in-out; /* IE */
    animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

/* Firefox old*/
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

.blinkFast {
      animation: blink2 2s steps(5, start) infinite;
      -webkit-animation: blink2 1s steps(5, start) infinite;
    }

@keyframes blink2 {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink2 {
    to {
      visibility: hidden;
    }
  }