body {
    background-color: white;/*#FFFADD*/
}

.labelHeader{
    font-size:11pt;
    font-weight:bold;
    color:rgb(62, 1, 106);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.labelDescription{
    font-style:italic;
    font-size:10pt;
    font-weight:bold;
    color:white;
}

fieldset.scheduler-border {
    border: 1px solid rgb(62, 1, 106) !important;
    padding: 0 0 1em 1em !important;
    margin: 0 0 1.2em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
    border:1px
}

.textLegend {
    font-size: 12pt !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
    color: rgb(62, 1, 106);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.tableImgStyle {
    padding:20px; 
    cursor:pointer;
}

.tableTxtStyle{
    font-weight:bold;
    color:rgb(62, 1, 106);
}

.fa-lg{
    filter:drop-shadow(4px 6px 5px rgba(0,0,0,0.3));
}

.form-check{
    padding-left: 2%;
}

legend{
    margin-bottom:10px !important;
}

.table{
    max-width:99%;
    margin-bottom:10px !important;
}

.btnOrder{
    position:fixed;
    float:right;
    bottom:20px; 
    right:20px;
    cursor:pointer;
    background-color: #5763e9;
    color:#fff;
    display: none;
}

.btnOrder:hover{
    background-color: #3441ca;
    color:#fff !important;    
}

.hrStyle {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.hrStyleLine {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.shaky-btn {
    cursor: pointer;
}

.shaky-btn:focus {
    transform: skewX(-10deg);
    animation: shake 0.4s ease-out;
    font-weight: bold;
    background-color: #fd5959;
    box-shadow: 0 0 5px 5px #fabdb1;
    color:#fff;
}

/* Use the keyframes for defining the animation */
@keyframes shake {
    0%   { transform: skewX(-10deg); }
    25%  { transform: skewX(10deg);  }
    50%  { transform: skewX(-10deg); }
    75%  { transform: skewX(10deg);  }
    100% { transform: skewX(-10deg); }
}

.imgLogo
{   
    content:url(../images/6.jpg); 
    height:80px;
    width:80px;
    border-radius: 80px !important;
    box-shadow: 6px 6px 20px rgba(71, 71, 71, 0.5);
}

@keyframes DynamicBackground
{
    0%   {content: url(../images/PS1.png);}
    25%  {content: url(../images/PS2.png);}
    50%  {content: url(../images/PS3.png);}
    75%  {content: url(../images/PS4.png);}
    100% {content: url(../images/PS6.png);}
}

@-webkit-keyframes DynamicBackground
{
    0%   {content: url(../images/PS1.png);}
    25%  {content: url(../images/PS2.png);}
    50%  {content: url(../images/PS3.png);}
    75%  {content: url(../images/PS4.png);}
    100% {content: url(../images/PS6.png);}
}

@-moz-keyframes DynamicBackground
{
    0%   {content: url(../images/PS1.png);}
    25%  {content: url(../images/PS2.png);}
    50%  {content: url(../images/PS3.png);}
    75%  {content: url(../images/PS4.png);}
    100% {content: url(../images/PS6.png);}
}

@-ms-keyframes DynamicBackground
{
    0%   {content: url(../images/PS1.png);}
    25%  {content: url(../images/PS2.png);}
    50%  {content: url(../images/PS3.png);}
    75%  {content: url(../images/PS4.png);}
    100% {content: url(../images/PS6.png);}
}

.tableIcon{
    color: #942de9; font-size:24pt;
}

.blinkSlow {
    font-size:26pt !important;
    color: #f21414 !important;
    -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 2s infinite ease-in-out; /* IE */
    animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

/* Firefox old*/
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

.blinkFast {
      animation: blink2 2s steps(5, start) infinite;
      -webkit-animation: blink2 1s steps(2, start) infinite;
    }

@keyframes blink2 {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink2 {
    to {
      visibility: hidden;
    }
  }

.tableDivStyle{
    cursor:pointer;
}

.btnDeliverStyle{
    cursor:pointer;
}

.tableHeaderColor{
    color: rgb(62, 1, 106) !important;
}

.colorBlue{
    color: rgb(62, 1, 106);
}

.tableBodyColor{
    color: dimgray;
}

th{
    color: rgb(62, 1, 106) !important;
}

.checkbox-wrapper-19 {
    box-sizing: border-box;
    --background-color: #fff;
    --checkbox-height: 25px;
  }

  @-moz-keyframes dothabottomcheck-19 {
    0% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) / 2);
    }
  }

  @-webkit-keyframes dothabottomcheck-19 {
    0% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) / 2);
    }
  }

  @keyframes dothabottomcheck-19 {
    0% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) / 2);
    }
  }

  @keyframes dothatopcheck-19 {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) * 1.2);
    }
  }

  @-webkit-keyframes dothatopcheck-19 {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) * 1.2);
    }
  }

  @-moz-keyframes dothatopcheck-19 {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: calc(var(--checkbox-height) * 1.2);
    }
  }

  /*Custom Checkbox */
  .checkbox-wrapper-19 input[type=checkbox] {
    display: none;
  }

  .checkbox-wrapper-19 .check-box {
    height: var(--checkbox-height);
    width: var(--checkbox-height);
    background-color: transparent;
    border: calc(var(--checkbox-height) * .1) solid #000;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
    cursor: pointer;
  }
  .checkbox-wrapper-19 .check-box::before,
  .checkbox-wrapper-19 .check-box::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: calc(var(--checkbox-height) * .2);
    background-color: #34b93d;
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: " ";
    -webkit-transition: opacity ease 0.5;
    -moz-transition: opacity ease 0.5;
    transition: opacity ease 0.5;
  }
  .checkbox-wrapper-19 .check-box::before {
    top: calc(var(--checkbox-height) * .72);
    left: calc(var(--checkbox-height) * .41);
    box-shadow: 0 0 0 calc(var(--checkbox-height) * .05) var(--background-color);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .checkbox-wrapper-19 .check-box::after {
    top: calc(var(--checkbox-height) * .37);
    left: calc(var(--checkbox-height) * .05);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box,
  .checkbox-wrapper-19 .check-box.checked {
    border-color: #34b93d;
  }
  .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::after,
  .checkbox-wrapper-19 .check-box.checked::after {
    height: calc(var(--checkbox-height) / 2);
    -moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    animation: dothabottomcheck-19 0.2s ease 0s forwards;
  }
  .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::before,
  .checkbox-wrapper-19 .check-box.checked::before {
    height: calc(var(--checkbox-height) * 1.2);
    -moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -o-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
    animation: dothatopcheck-19 0.4s ease 0s forwards;
  }

  
  #txtSearch {
    background-image: url('../images/search2.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 50%;
    height: 50px;
    font-size: 16px;
    padding: 8px 10px 8px 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    text-align: right;
    margin-right: 10px;
    float: right;
}